{{#if players.length}}
  <table>
    <thead>
      <tr>
        <th>Skill</th>
        {{#each players}}
          <th>{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{!-- Loop over skill names from the first player --}}
      {{#each (keys (lookup (lookup players 0) "skills")) as |skillName|}}
        <tr>
          <td>{{skillName}}</td>
          {{!-- Loop over each player to get their value for this skill --}}
          {{#each ../players}}
            <td>{{lookup skills skillName}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No players found</p>
{{/if}}
