<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Skill</th>
        {{#each players}}
          <th>{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{!-- Iterate over all skill full names --}}
      {{#each skills}}
      <tr>
        <td>{{this}}</td> <!-- this = full skill name like "Acrobatics" -->
        {{#each ../players}}
          <td>{{lookup this.skills this}}</td> <!-- lookup player.skills[this full skill name] -->
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
